[submodule "Project/externals/ServiceDispatcher"]
	path = mqttClient_x86/externals/ServiceDispatcher
	url = https://github.com/tom360v/ServiceDispatcher
[submodule "mqttClient_x86/externals/mqtt_c"]
	path = mqttClient_x86/externals/mqtt_c
	url = https://github.com/tom360v/mqtt_c
[submodule "mqttClient_x86/externals/socket"]
	path = mqttClient_x86/externals/socket
	url = https://github.com/tom360v/socket
[submodule "mqttClient_x86/externals/ServiceRGB"]
	path = mqttClient_x86/externals/ServiceRGB
	url = https://github.com/tom360v/ServiceRGB
[submodule "mqttClient_x86/externals/ServiceDispatcher"]
	path = mqttClient_x86/externals/ServiceDispatcher
	url = https://github.com/tom360v/ServiceDispatcher
